@use '../abstracts' as *;

.button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: $white;
  font: 500 1.2rem/1.6rem a;
  font-family: inherit;
  transition: background-color 300ms cubic-bezier(0.2, 0, 0, 1);
  text-transform: uppercase;
  cursor: pointer;

  @include tablet {
    width: 70px;
    height: 70px;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &--gray {
    background-color: $gray-9;
    &:focus,
    &:hover {
      background-color: $gray-light;
    }
  }

  &--green {
    background-color: $green;
    &:focus,
    &:hover {
      background-color: $green-light;
    }
  }

  &--red {
    background-color: $red;
    &:focus,
    &:hover {
      background-color: $red-light;
    }
  }
}
