@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&&display=swap");
html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
  background-color: #111;
  color: #fff;
  overflow-x: hidden;
  font-family: "Orbitron", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  overflow-wrap: break-word;
}

ul,
ol,
dd {
  padding: 0;
  margin: 0;
  list-style: none;
}

audio,
canvas,
iframe,
picture,
img,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font: inherit;
}

select {
  width: 100%;
  background-color: transparent;
  line-height: inherit;
  cursor: inherit;
}
select::-ms-expand {
  display: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

input,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

:focus:not(:focus-visible) {
  outline: 0;
}

.button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  font: 500 1.2rem/1.6rem a;
  font-family: inherit;
  -webkit-transition: background-color 300ms cubic-bezier(0.2, 0, 0, 1);
  transition: background-color 300ms cubic-bezier(0.2, 0, 0, 1);
  text-transform: uppercase;
  cursor: pointer;
}
@media only screen and (min-width: 769px) {
  .button {
    width: 70px;
    height: 70px;
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.button--gray {
  background-color: #999;
}
.button--gray:focus, .button--gray:hover {
  background-color: #adadad;
}
.button--green {
  background-color: #487b3e;
}
.button--green:focus, .button--green:hover {
  background-color: #58954b;
}
.button--red {
  background-color: #e96d70;
}
.button--red:focus, .button--red:hover {
  background-color: #ef9596;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 10px;
  background-color: #faf2f1;
}

.stopwatch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  width: 100%;
  padding: 28px;
  border-radius: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #333b63;
  text-align: center;
}
@media only screen and (min-width: 769px) {
  .stopwatch {
    max-width: 400px;
  }
}
.stopwatch__timer {
  font: 3.6rem/4.4rem a;
  font-family: inherit;
}
@media only screen and (min-width: 769px) {
  .stopwatch__timer {
    font-size: 5.7rem;
    line-height: 6.4rem;
  }
}
.stopwatch__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}
